#mainNav {
  align-items: center;
  border-top: 1px solid rgba(255,255,255,.15);
  display: flex;
  height: 45px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
#mainNav ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
#mainNav ul li {
  height: inherit;
}
#mainNav ul li::marker {
  display: none;
}
.link {
  align-items: center;
  display: flex;
  height: inherit;
  padding: 0 2rem;
}
.link svg path {
  fill: rgba(255,255,255,.65);
  transition: .15s;
}
.link:hover svg path {
  fill: rgba(255,255,255,1);
}